body {
    background-color:   #565656;
    height: 100%;
}

/* TIPOS DE LETRAS */
h1, 
h2, 
h3 {
    font-family: 'Kanit', sans-serif;
}
p, 
a,
label,
footer,
button {
    font-family: 'Inconsolata', monospace;
}
/*FIN TIPOS DE LETRAS */
.menuNav li {
    display: inline-block;
}
.menuNav a:hover {
    background:  #fd7b7b;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 15px;
}
.menuNav li a {
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    color: black;
    font-size: 30px;
}
.contenedora{
    background-color: hsl(0, 10%, 78%);
    padding: 2% 5% 2% 5%;
    margin: 1%;
    text-align: justify;
}
.contenedora h1 {
    text-align: center;
}

.imgCriptoSec {
    max-width: 300px;
    max-height: 300px;
    padding-bottom: 20px;
    display: block;
    margin: auto;
}

.colUno {
    display: inline-block;
    max-width: 80%;
    padding: 10px;
    vertical-align: top;
}
.colDos {
    display: inline-block;
    max-width: 15%;
    padding-left: 30px;
    padding-bottom: 20px;
    vertical-align: top;
    background-color: #989898;
    
    
}
footer {
    background-color: #989898;
    position: relative;
    padding: 15px;
    margin: 10px -8px -7px -8px;
    text-align: center;
}

footer i {
    color: black;
    font-size: x-large;
    padding: 5px;
}
a[href="https://coin360.com/"] {
    color: brown;
    text-decoration: none;
    font-weight: bold;
}